<div class="base">
    <h1 class="page-title noselect">
        About
    </h1>
    <div>
        <div class="about-holder">
            <div class="about">
                This page discusses some common questions that might arise when utilizing this application. Below is a table of contents to be used for navigating the about section.
                <h2 class="page-subtitle">
                    Table of Contents
                </h2>
                <ul>
                    <li>
                        <a href="about#Settings">Changing Settings</a>
                    </li>
                    <li>
                        <a href="about#Pictures">Taking Pictures</a>
                    </li>
                    <li>
                        <a href="about#Shortcuts">Shortcuts</a>
                    </li>
                    <li>
                        <a href="about#Contact">Contact</a>
                    </li>
                </ul>
                <h2 class="page-subtitle" id="Settings">
                    Changing Settings
                </h2>
                <div>
                    In order to change the settings go over to the gear icon labeled with the word "Settings" in the header of the page and click it.
                    <ul>
                        <li>
                            Camera detail. The image, once taken from the camera, is saved at the quality referenced here.
                        </li>
                        <li>
                            Mirror image. When enabled it alters the camera to be mirrored, it is on by default.
                        </li>
                        <li>
                            Enable auto download. When enabled whenever a user takes a picture it is automatically downloaded to the device.
                        </li>
                    </ul>
                </div>
                <h2 class="page-subtitle" id="Pictures">
                    Taking Pictures
                </h2>
                <div>
                    To take a picture first ensure that you are on the correct page, that being the one labeled with a camera icon and the word "Camera." After ensuring that you are on the correct page, click the camera icon immediately underneath the live video feed coming from your webcam. Additionally, next to the camera are the switch input and fullscreen buttons to the left and right respectively.  
                </div>
                <h2 class="page-subtitle" id="Shortcuts">
                    Shortcuts
                </h2>
                <div>
                    <div>
                        Below are some useful shortcuts for users looking for more advanced utilizations of the camera.
                    </div>
                    <br/>
                    <table style="margin-left: auto; margin-right: auto; text-align: center;">
                        <tr>
                          <th style="width:4rem;">Key</th>
                          <th style="width:4rem;">Page</th>
                          <th style="width:14rem;">Action</th>
                        </tr>
                        <tr>
                          <td>a</td>
                          <td>Camera</td>
                          <td>Take picture.</td>
                        </tr>
                        <tr>
                          <td>s</td>
                          <td>Camera</td>
                          <td>Switch camera input.</td>
                        </tr>
                        <tr>
                          <td>d</td>
                          <td>Camera</td>
                          <td>Enter/exit fullscreen.</td>
                        </tr>
                        <tr>
                          <td>q</td>
                          <td>Any</td>
                          <td>Navigate to camera page.</td>
                        </tr>
                        <tr>
                          <td>w</td>
                          <td>Any</td>
                          <td>Navigate to settings page.</td>
                        </tr>
                        <tr>
                          <td>e</td>
                          <td>Any</td>
                          <td>Navigate to about page.</td>
                        </tr>
                      </table>
                </div>
                <h2 class="page-subtitle" id="Contact">
                    Contact
                </h2>
                <div>
                    For more information you can contact me at vinmcasey@gmail.com or my <a href="https://github.com/vmc-7645">Github</a>. 
                </div>
            </div>
        </div>
        <br/>


    </div>
    <!-- <a>
        {{ windowHeight }}
        {{ windowHeight }}
    </a> -->
</div>