<div>
  <div *ngIf="!is_fullscreen()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <div class="titleholder">
        <a class="navbar-brand" href="#">Camera</a>
        <mat-icon class="titleicon">camera_alt</mat-icon>
      </div>
      <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
          <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
            <a routerLink="/" class="nav-link shrink">
              <mat-icon class="material-icons">home</mat-icon>
              <p class="nav-text" ngbTooltip="Go to the home page">Home</p>
            </a>
          </li> -->
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
            <a routerLink="/camera" class="nav-link grow hover-green">
              <mat-icon class="material-icons nav-icons">camera_alt</mat-icon>
              <p class="nav-text">Camera</p>
            </a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
            <a routerLink="/settings" class="nav-link grow hover-yellow">
              <mat-icon class="material-icons nav-icons">settings</mat-icon>
              <p class="nav-text">Settings</p>
            </a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
            <a routerLink="/about" class="nav-link grow hover-blue">
              <mat-icon class="material-icons nav-icons">collections_bookmark</mat-icon>
              <p class="nav-text">About</p>
            </a>
          </li>

          <!-- Done with nav, now right functionality -->
          
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
  <!-- <app-camera (getPicture)="handleImage($event)"></app-camera>

  <div class="webcam-image" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl" />
  </div> -->
  <router-outlet></router-outlet>
</div>