
.page-title {
    text-align:center;
    font-weight: 600;
    font-size: 5rem;
    /* font-kerning: none; */
    margin-top: 4rem;
    margin-bottom: 4rem;
    /* text-shadow: 0rem 0.2rem 0rem #00d5ff; */
    letter-spacing: -0.2rem;
}

.page-subtitle {
    text-align:center;
    font-weight: 600;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    /* text-shadow: 0rem 0.2rem 0rem #00ff8c; */
    letter-spacing: 0rem;
}


.settings-holder {
    padding: 1.5rem;
    width:100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.settings {
    /* align-self: center; */
    /* position:static; */
    /* position: relative; */
    width: 30rem;
    height: auto;
}

.form-item {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

/* Button */
.btn {
    width: 10rem;
    font-size: 1.2rem;
    background-color: rgb(97, 97, 255);
    border-color:  rgb(97, 97, 255);
    /* transition: filter 0.3s ease-in-out 0s; */
}


.btn:hover {
    background-color: rgb(157, 157, 255);
    border-color: rgb(157, 157, 255);
}

.btn:hover::after {
    content: "?";
}

.btn:active {
    background-color: rgb(183, 183, 255);
    border-color: rgb(183, 183, 255);
    font-weight: 500;
}

.btn:active::after {
    content: "...";
}

/* Utility */

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.center {
    display: grid;  
    justify-content: center;  
    align-items: center;  
}